<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            Pridėti naują kontaktą
        </div>
        <div class="card-body">
            <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
                <div class="mb-3 row">
                    <label for="" class="col-sm-3 col-form-label text-end">Vardas:</label>
                    <div class="col-sm-9">
                        <input class="form-control" formControlName="name" [class.is-invalid]="!contactForm.get('name')?.valid && contactForm.get('name')?.touched">
                        <div class="helper-block" *ngIf="!contactForm.get('name')?.valid && contactForm.get('name')?.touched">
                            Įveskite vardą, ne trumpesnį nei 2 ir ne ilgesnį nei 30 simbolių. Galima naudoti tik raides, tarpą ir brūkšnelį.
                        </div>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="" class="col-sm-3 col-form-label text-end">Pavardė:</label>
                    <div class="col-sm-9">
                        <input class="form-control" formControlName="surname" [class.is-invalid]="!contactForm.get('surname')?.valid && contactForm.get('surname')?.touched">
                        <div class="helper-block" *ngIf="!contactForm.get('surname')?.valid && contactForm.get('surname')?.touched">
                            Įveskite pavardę, ne trumpesnę nei 2 ir ne ilgesnę nei 30 simbolių. Galima naudoti tik raides, tarpą ir brūkšnelį.
                        </div>
                    </div>
                </div>

                <div class="mb-3 row">
                    <label for="" class="col-sm-3 col-form-label text-end">Pareigos:</label>
                    <div class="col-sm-9">
                        <input class="form-control" formControlName="position" [class.is-invalid]="!contactForm.get('position')?.valid && contactForm.get('position')?.touched">
                        <div class="helper-block" *ngIf="!contactForm.get('position')?.valid && contactForm.get('position')?.touched">
                            Įveskite pareigų pavadinimą, ne trumpesnį nei 3 ir ne ilgesnį nei 30 simbolių.
                        </div>
                    </div>
                </div>

                <div class="mb-3 row">
                    <label for="" class="col-sm-3 col-form-label text-end">Įmonė:</label>
                    <div class="col-sm-9">
                        <select class="form-control" formControlName="company" [class.is-invalid]="!contactForm.get('company')?.valid && contactForm.get('company')?.touched">
                            <option *ngFor="let company of companyList" value="{{company.id}}">{{company.name}}</option>
                        </select>
                        <div class="helper-block" *ngIf="!contactForm.get('company')?.valid && contactForm.get('company')?.touched">
                            Pasirinkite įmonę.
                        </div>
                    </div>
                </div>

                <div class="mb-3 row">
                    <label for="" class="col-sm-3 col-form-label text-end">Telefono numeriai:</label>
                    <div class="col-sm-9">
                        <div class="row" formArrayName="phones">
                            <div class="col-sm-12 mb-3" *ngFor="let phone of phones; let i = index">
                                <input class="form-control" [formControlName]="i" [class.is-invalid]="!phone.valid && phone.touched" placeholder="+37060000000">
                                <div class="helper-block" *ngIf="!phone.valid && phone.touched">
                                    Įveskite bent vieną telefono numerį nurodytu formatu (10-12 simbolių).
                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <button type="button" class="btn btn-outline-secondary me-3" (click)="addPhoneField()">Pridėti papildomą telefoną</button>
                            <button type="button" class="btn btn-outline-secondary" (click)="removePhoneField()">Pašalinti papildomą telefoną</button>
                        </div>
                    </div>
                </div>

                <div class="row mb-2">
                    <div class="col-sm-3 offset-sm-3">
                        <button class="btn btn-success" [disabled]="!contactForm.valid">Pridėti</button>
                    </div>
                </div>


            </form>

        </div>
    </div>

</div>